<nav id="navbar">
    <ul class="navbar__options">
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/admin/add-product">+Product</a></li>
    </ul>
</nav>