<header>
    <nav id="navbar">
        <ul class="navbar__options">
            <li class="navbar__item">
                <a href="/">Home</a>
            </li>
            <li class="navbar__item">
                <a href="/shop">Shop</a>
            </li>
            <li class="navbar__item">
                <a href="/cart"><img class="navbar__cart__icon" src="/icons/cart-icon.png" alt="cart" width="22px"></a>
            </li>
            <li class="navbar__item">
                <a href="/admin/add-product">+Product</a>
            </li>
        </ul>
    </nav>
</header>