<section id="section__input">
    <div class="section__input--wrapper">
        <h2>Add a Product</h2>
        <input type="text" method="POST" action="/">
        <button type="submit" name="test-submit">Add Product</button>
    </div>
</section>