<section id="section__input">
    <div class="section__input--wrapper">
        <h2>Add a Product</h2>
        <form action="/admin/add-product" method="POST">
            <!-- title -->
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title">
            </div>
            <!-- image -->
            <div class="form-control">
                <label for="image">Image</label>
                <input type="text" name="imageURL" id="imageURL">
            </div>
            <!-- price -->
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01">
            </div>
            <!-- description -->
            <div class="form-control">
                <label for="description">Description</label>
                <input type="textarea" name="description" id="description">
            </div>
            <!-- button -->
            <button class="btn" type="submit">Add to Shop</button>
        </form>
    </div>
</section>