<section id="section__input">
    <div class="section__input--wrapper">
        <h2>Add a Product</h2>
        <form action="/admin/add-product" method="POST">
            <input type="text" name="title">
            <button type="submit">Add to Shop</button>
        </form>
    </div>
</section>