@import '../_parts/nav';

header {
    @include navbar;
}

main {
    display: flex;
    justify-content: center;
    margin: 50px auto 50px;
    #section__input {
        display: flex;
        justify-content: center;
        max-width: 40vw;
        .section__input--wrapper {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 2rem;
                font-weight: 700;
            }
            input {
                width: 320px;
                height: 2.2vh;
                border-radius: 0.5rem;
                border: 1px solid lightgrey;
                background-color: none;
                margin: 1vh auto;
            }
            button {
                height: 3vh;
                width: 200px;
                color: $navbar;
                background-color: rgba(255, 255, 255, 0);
                border-radius: 0.5rem;
                border: 1px solid $navbar;
            }
            button:hover{
                color: white;
                background-color: $navbar;
                transition: all ease-out 0.5s;
            }
        }
    }
}


