@mixin product-card {
    .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100% auto;
        .product-card {
            width: 300px;
            padding: 20px;
            margin: 0px 18px;
            background-color: white;
            color: rgb(18, 18, 18);
            -webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
            box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
            .product-card-image {
                display: flex;
                justify-content: center;
                img {
                display: block;
                max-width: 280px;
                }
            }
            .product-card-text {
                padding: 15px 15px;
                .product-card-title {
                    font-weight: 400;
                    font-size: 22px;
                    padding: 6px 0px;
                    margin-top: 12px;
                    border-bottom: 1px solid black;
                }
                .product-card-description {
                    margin-top: 22px;
                    text-align: justify;
                    p {
                        font-size: 14px;
                    }
                    h3.product-card-price {
                        margin-top: 22px;
                        font-weight: 300;
                        color: rgb(255, 191, 0);
                    }
                }
            }
            .product-card-action {
                display: flex;
                justify-content: center;
                width: 100%;
                a.btn {
                    display: flex;
                    align-items: center;
                    margin: 0px 30px;
                    color: $navbar;
                    text-decoration: none;
                    transition: all ease 0.3s;
                }
                a.btn:hover {
                    border-bottom: 1px solid black;
                }
                .product-add-to {
                    height: 50px;
                    width: 60px;
                    color: $navbar;
                    border-radius: 0.5rem;
                    background-color: rgb(24, 24, 24);
                    transition: all ease-in 0.3s;
                    img {
                        width: 20px;
                        
                    }
                }
                .product-add-to:hover {
                    background-color: rgb(255, 191, 0);
                    img {
                        filter: invert(100%);
                    }
                }
            }
        }   
    }
}