@mixin shop-aside {
    #shop-aside-list{
        margin: 200px 100px 0px 0px;
        padding: 20px;
        h2 {
            font-size: 28px;
            padding: 25px 0px;
            border-bottom: 3px solid $navbar;
        }
        ul.shop-genre-list {
            margin-top: 52px;
            li.genre {
                display: block;
                margin: 25px 0px;
                padding: 0px 10px;
                list-style: none;
            }
        }
        ul.shop-tag-list {
            margin-top: 52px;
            li.tag-item {
                display: block;
                margin: 25px 0px;
                padding: 0px 10px;
                list-style: none;
            }
        }
    }
}