<!-- -->
<%- include('includes/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/sass/404/404.css">
</head>
<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>
    <main>
        <section>
            <h1>404: You seem lost</h1>
        </section>
    </main>
    <footer>
    </footer>
</body>
<footer>
</footer>
</html>