<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/sass/add-product/add-product.css">
    <title>Add product</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/admin/add-product">+Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>