<%- include('includes/header.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>   
        <%- include('includes/product-input.ejs') %>    
    </main>
    <%- include('../includes/footer.ejs') %>
</body>
</html>