<%- include('includes/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/sass/add-product/add-product.css">
</head>
<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>
    <main>   
        <%- include('includes/product-input.ejs') %>    
    </main>
    <footer>
        
    </footer>
</body>
</html>