<%- include('includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/sass/home/home.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <ul class="navbar__options">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/admin/add-product">+Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="main-wrapper">

        </div>
    </main>
    <footer>
        <div id="footer__wrapper">
            <section>

            </section>
        </div>
    </footer>
</body>
</html>