<%- include('includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/sass/home/home.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
    </main>
    <footer id="footer__wrapper">
    </footer>
</body>
</html>