<%- include('includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/sass/shop/shop.css">
</head>
<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>
    <main>
        <section>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>