* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

*:focus {
  outline: none;
}

li {
  text-decoration: none;
}

li a {
  display: block;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  margin-top: 50px;
}

@use './shop-aside';
header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 95%;
}

header #navbar .navbar__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-right: 4em;
}

header #navbar .navbar__options li {
  margin: 1em;
  padding: 5px;
}

header #navbar .navbar__options a {
  display: block;
  text-decoration: none;
  color: #1b1b23;
  width: 100%;
  height: 100%;
}

header #navbar .navbar__options a:hover {
  color: #ffb701;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header #navbar .navbar__options a:active {
  display: block;
  color: goldenrod;
}

header #navbar .navbar__options .navbar__cart__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: invert(100);
          filter: invert(100);
  width: 30px;
}

#section__input .section__input--wrapper {
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section__input .section__input--wrapper h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

#section__input .section__input--wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section__input .section__input--wrapper form .form-control label {
  margin-bottom: 20px;
}

#section__input .section__input--wrapper form .form-control input {
  width: 320px;
  height: 28px;
  border-radius: 0.5rem;
  border: 1px solid #e3e3e3;
  background-color: rgba(169, 169, 169, 0.598);
  margin: 1vh auto;
}

#section__input .section__input--wrapper form button {
  height: 3vh;
  width: 200px;
  margin-top: 22px;
  color: #1b1b23;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.5rem;
  border: 1px solid #1b1b23;
}

#section__input .section__input--wrapper form button:hover {
  color: white;
  background-color: #1b1b23;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#shop-front {
  width: 100%;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

#shop-front #shop-aside-list {
  margin-top: 150px;
  padding: 20px;
  width: 12.5%;
}

#shop-front #shop-aside-list h2 {
  font-size: 28px;
  padding: 25px 0px;
  width: 50%;
  border-bottom: 3px solid #1b1b23;
}

#shop-front #shop-aside-list ul.shop-genre-list {
  width: 90%;
  margin-top: 52px;
}

#shop-front #shop-aside-list ul.shop-genre-list li.genre {
  display: block;
  margin: 25px 0px;
  padding: 0px 10px;
  list-style: none;
}

#shop-front #shop-aside-list ul.shop-tag-list {
  width: 90%;
  margin-top: 52px;
}

#shop-front #shop-aside-list ul.shop-tag-list li.tag-item {
  display: block;
  margin: 25px 0px;
  padding: 0px 10px;
  list-style: none;
}

#shop-front li {
  list-style: none;
}

#shop-front .product-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
}

#shop-front .product-grid .shop-front-title {
  width: 100%;
}

#shop-front .product-grid .shop-front-title h2 {
  display: block;
  position: relative;
  padding: 15px;
  font-size: 48px;
  border-bottom: 3px solid #1b1b23;
}

#shop-front .product-grid .product-card {
  width: 200px;
  height: 500px;
  padding: 0px 20px;
  margin: 5px;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #1b1b23), to(#1b1b23));
  background-image: linear-gradient(to bottom, transparent 50%, #1b1b23 50%, #1b1b23);
  background-position: 0% 100%;
  background-size: 100% 200%;
  -webkit-box-shadow: 0px 32px 24px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 32px 24px -10px rgba(0, 0, 0, 0.75);
}

#shop-front .product-grid .product-card .product-card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shop-front .product-grid .product-card .product-card-image img {
  display: block;
  width: 240px;
}

#shop-front .product-grid .product-card .product-card-text {
  padding: 5px 5px;
}

#shop-front .product-grid .product-card .product-card-text .product-card-title {
  font-weight: 400;
  font-size: 2.2vh;
  padding: 2px 0px;
  margin-top: 12px;
  border-bottom: 1px solid grey;
}

#shop-front .product-grid .product-card .product-card-text .product-card-description {
  margin-top: 22px;
  text-align: left;
}

#shop-front .product-grid .product-card .product-card-text .product-card-description p.product-card-description-text {
  font-size: 14px;
}

#shop-front .product-grid .product-card .product-card-text .product-card-description h3.product-card-price {
  margin-top: 28px;
  font-size: 22px;
  font-weight: 400;
  color: #ffbf00;
}

#shop-front .product-grid .product-card .product-card-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 26px;
}

#shop-front .product-grid .product-card .product-card-action button.product-add-to {
  height: 50px;
  width: 60px;
  color: #1b1b23;
  border: 0.5px solid grey;
  border-radius: 12px;
  background-color: #1b1b23;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

#shop-front .product-grid .product-card .product-card-action button.product-add-to img {
  width: 30px;
}

#shop-front .product-grid .product-card .product-card-action button.product-add-to:hover {
  border: none;
  background-color: #ffbf00;
}

#shop-front .product-grid .product-card .product-card-action button.product-add-to:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#shop-front .product-grid .product-card:hover {
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  background-color: #ffbf00;
  background-position: 0 0;
}

#shop-front .product-grid .product-card:hover .product-card-description h3.product-card-price {
  color: #1b1b23;
}

#shop-front .product-grid .product-card:hover button.product-add-to:hover {
  border: 1px solid #1b1b23;
  background-color: #ffbf00;
  cursor: pointer;
}

#shop-front .product-grid .product-card:hover button.product-add-to:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer #footer-content {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  color: white;
  background-color: #1b1b23;
}

footer #footer-content .footer-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer #footer-content .footer-content-wrapper .footer-nav-wrapper nav.footer-nav li.footer-nav-item {
  list-style: none;
}

footer #footer-content .footer-content-wrapper .footer-nav-wrapper nav.footer-nav li.footer-nav-item a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  margin: 12px 0px;
}

footer #footer-content .footer-content-wrapper .footer-nav-wrapper nav.footer-nav li.footer-nav-item img {
  width: 40px;
}

footer #footer-content .footer-content-wrapper .footer-info {
  width: auto;
}

footer #footer-content .footer-content-wrapper .footer-info address {
  padding: 30px 0px;
  font-style: initial;
}

footer #footer-content .footer-content-wrapper .footer-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

footer #footer-content .footer-content-wrapper .footer-info a img {
  display: block;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 30px;
  margin-right: 12px;
}

footer #footer-content .footer-content-wrapper .footer-timetable {
  display: block;
}

footer #footer-content .footer-content-wrapper .footer-timetable table {
  border-collapse: collapse;
}

footer #footer-content .footer-content-wrapper .footer-timetable table .table-day {
  padding: 4px;
  width: 100px;
}

footer #footer-content .footer-content-wrapper .footer-timetable table .table-hours {
  text-align: center;
  padding: 4px;
  width: 100px;
}

footer #footer-content .footer-content-wrapper ul.footer-links li {
  list-style: none;
  margin: 22px 0px;
}

footer #footer-content .footer-content-wrapper ul.footer-links li a {
  color: white;
}

footer #footer-content .footer-content-wrapper ul.footer-links li a img {
  width: 42px;
}

footer #footer-content .footer-content-wrapper .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */